<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @billing_address.name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @billing_address.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @billing_address.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @billing_address.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @billing_address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @billing_address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @billing_address.zip %>
</p>

<%= link_to 'Edit', edit_billing_address_path(@billing_address) %> |
<%= link_to 'Back', billing_addresses_path %>
